.chart-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// align-content: center;
	max-width: 90vw;
	font-size: 5rem;
	margin-top: 2rem;
	width: 85vw;
	padding: 0.5em;
	gap: 1em;

	.horizontal {
		@media (min-width: 1024px) {
			flex-direction: row;
			gap: .5em;
		}
	}

	h2 {
		text-align: center;
	}

	.btn-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	button {
		// padding: 1rem;

		// font-size: 1rem;
		// width: clamp(5rem, 25vw, 8rem);
		display: inline-block;
		padding: 0.3em 1.2em;
		margin: 2rem 0.5em 0.5em 0;
		border: 0.2em solid rgba(255, 255, 255, 0);
		border-radius: 2em;
		box-sizing: border-box;
		background: #4e9af1;
		text-decoration: none;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		color: black;
		text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
		text-align: center;
		transition: all 0.2s;
		font-size: 1rem;

		&:hover {
			color: white;
			border-color: rgb(10, 1, 1);
		}
	}
}

.canadian-header {
	text-align: center;
}

.outline {
	height: 100%;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
	padding: 0.5em;
}
