$accent-color: #1390C5;
$bg-color: #F8F8F8;
$black-color: #333333;
$stroke-color: #A6A6A6;
$input-bg-color: #F5F5F5;

.footer {
	width: 100vw;
	text-align: center;
	background: rgba(90, 189, 247, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 3px solid rgba(255, 255, 255, 0.18);


	div {
		max-width: 90vw;
		padding: 1rem;
	}

	a {
		color: navy;
	}
}

body {
	footer {
		background-color: $input-bg-color;
		border-top: 1px solid $stroke-color;
		padding: 1rem;
		margin-top: 3rem;
		font-family: 'Poppins', sans-serif;
	
		p, a, a.nav-link, a p {
			font-size: 8px;
			margin-bottom: 0;
			padding: 0;
			text-decoration: none;
		}
	}
}