.footer {
	width: 100vw;
	text-align: center;
	background: rgba(90, 189, 247, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 3px solid rgba(255, 255, 255, 0.18);

	div {
		max-width: 90vw;
		padding: 1rem;
	}

	a {
		color: navy;
	}
}
