@import 'card', 'chart', 'cover',"footer", "fact";
@fontface {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}
@fontface {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-wrap: break-word;
	background-color: whitesmoke;
	color: black;

	h1 {
		font-size: 3rem;
		@media (min-width: 768px) {
			font-size: 4rem;
		}
		@media (min-width: 1280px) {
			font-size: 5rem;
		}
	}
	h2 {
		font-size: 2rem;
		@media (min-width: 768px) {
			font-size: 2.25rem;
		}
		@media (min-width: 1280px) {
			font-size: 2.5rem;
		}
	}
	h3 {
		font-size: 1.5rem;
		@media (min-width: 768px) {
			font-size: 1.75rem;
		}
		@media (min-width: 1280px) {
			font-size: 2rem;
		}
	}
	h4 {
		font-size: 1.125rem;
		@media (min-width: 768px) {
			font-size: 1.25rem;
		}
		@media (min-width: 1280px) {
			font-size: 1.5rem;
		}
	}
	// p,
	// a {
	// 	font-size: 1.125rem;
	// 	@media (min-width: 768px) {
	// 		font-size: 1.5rem;
	// 	}
	// 	@media (min-width: 1280px) {
	// 		font-size: 1.75rem;
	// 	}
	// }
	ul {
		list-style-type: none;
	}
	a {
		text-decoration: none;
	}
}

.container {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	display: flex;
	flex-direction: column;
	// background: black;
}
