$accent-color: #1390C5;
$bg-color: #F8F8F8;
$black-color: #333333;
$stroke-color: #A6A6A6;
$input-bg-color: #F5F5F5;

@import 'card', 'chart', 'cover',"footer", "fact", "navbar", "info";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Poppins&display=swap');
#root {
	position: relative;
	display: flex;
	flex-direction: column;
	//   overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-wrap: break-word;
	background-color: $bg-color;
	color: black;
	display: flex;
	flex-direction: column;
	//   align-items: center;

	h1 {
		font-size: 3rem;
		@media (min-width: 768px) {
			font-size: 4rem;
		}
		@media (min-width: 1280px) {
			font-size: 5rem;
		}
	}
	h2 {
		font-size: 2rem;
		@media (min-width: 768px) {
			font-size: 2.25rem;
		}
		@media (min-width: 1280px) {
			font-size: 2.5rem;
		}
	}
	h3 {
		font-size: 1.5rem;
		@media (min-width: 768px) {
			font-size: 1.75rem;
		}
		@media (min-width: 1280px) {
			font-size: 2rem;
		}
	}
	h4 {
		font-size: 1.125rem;
		@media (min-width: 768px) {
			font-size: 1.25rem;
		}
		@media (min-width: 1280px) {
			font-size: 1.5rem;
		}
	}
	// p,
	// a {
	// 	font-size: 1.125rem;
	// 	@media (min-width: 768px) {
	// 		font-size: 1.5rem;
	// 	}
	// 	@media (min-width: 1280px) {
	// 		font-size: 1.75rem;
	// 	}
	// }
	a {
		color: $accent-color;
		text-decoration: underline;
	}
}

.container {
	width: 100%;
	display: flex;
	align-items: center;
	display: flex;
	flex-direction: column;
	// background: black;
}

html,
body {
	height: 100%;
}
